.nav-btn {
  display: inline-block;
  padding: 8px 8px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
